<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Dashboard", suffix: " · Painel Cirúrgico" %>
  <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body class="from-blue-600 to-purple-500 bg-gradient-to-r w-full h-64 block">
  <div class="p-6">
    <div class="bg-white rounded-lg p-6 w-1/2">
      <img class="z-10 absolute h-24 w-24 rounded-full mt-0 ml-0"
        src="https://storage.alboom.ninja/sites/2851/albuns/282206/fotos_de_perfil_profissional_dr._Rodrigo-1.jpg?t=1530304510">
        <img class="z-12 relative h-24 w-24 rounded-full mt-10 ml-10"
        src="https://storage.alboom.ninja/sites/2851/albuns/282206/fotos_de_perfil_profissional_dr._Rodrigo-1.jpg?t=1530304510">
      <%# <div class="text-center md:text-left">
        <h2 class="text-lg">Erin Lindford</h2>
        <div class="text-purple-500">Product Engineer</div>
        <div class="text-gray-600">erinlindford@example.com</div>
        <div class="text-gray-600">(555) 765-4321</div>
      </div> %>
    </div>
  </div>
</body>

</html>
